.button-audio-game.button-sound {
  background-image: url("../assets/images/composer.png");
  position: absolute;
  margin: 30px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-size: cover;
  border: none;
}

.button-sound.mute:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  color: $black-color;
  transform:rotate(-30deg);
}
