@import "./audioGameSound.scss";

.main-wrapper-audio-game-page {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  box-shadow: inset 0 0 0 2000px rgb(41 45 52 / 80%);
  background-image: url("../assets/images/bg-audio-game.png");
  background-size: cover;
}

.main-container-audio-game {
  background-color: white;
  max-width: 550px;
  height: 550px;
  width: 100%;
  -webkit-box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 20%);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 20%);
}
.button-wrapper-audio-game {
  margin: 10px;
}

.button-audio-game {
  height: 42px;
  background-color: #f1c50e;
  justify-content: center;
  font-size: 18px;
  margin: 10px auto;
  padding: 4px 12px;
  margin-right: 10px;
}

.button-audio-game:last-child {
  margin-right: 0;
}

.button-audio-game:hover:not(:disabled) {
  background-color: $light-gray-color;
}

.button-volume-audio-game {
  border-radius: 50%;
  background-size: cover;
  padding: 0;
  height: 50px;
  width: 50px;
  margin: 10px 0 5px 0;
  align-self: center;
}

.main-wrapper-audio-game {
  text-align: center;
}

a
.button-word-audio-game {
  min-width: 150px;
}

.button-word-audio-game.correct {
  background-color: $right-color;
}

.button-word-audio-game.incorrect {
  background-color: $wrong-color;
}

.button-audio-game.button-answer-audio-game,
.button-audio-game.button-next-card-audio-game {
  color: $white-color;
  background-color: $dark-gray-color;
}

.button-audio-game.button-answer-audio-game:hover,
.button-audio-game.button-next-card-audio-game:hover {
  width: 150px;
  background-color: $light-gray-color;
  color: $black-color;
}

.answer-text {
  font-size: 38px;
  color: #000000;
  font-weight: bold;
  margin-top: 5px;
  height: 35px;
  margin-bottom: 10px;
}

.button-next-card-audio-game {
  display: none;
  width: 100px;
}

.button-answer-audio-game {
  width: 100px;
}

.answer-info-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  color: $dark-gray-color;
  height: 400px;
}

.main-container-audio-game {
  text-align: -webkit-center;
}

.img-answer {
  max-height: 270px;
}

@media (max-width: 740px) {
  .button-volume-audio-game {
    width: 60px;
    height: 60px;
  }

  .button-wrapper-audio-game {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     max-width: 200px;
  }

  .img-answer {
    max-height: 200px;
    max-width: 200px;
    align-self: center;
  }

  .answer-info-container {
    height: 240px;
  }

  .button-audio-game.button-word-audio-game {
    margin-right: 0;
    margin: 5px 0 0 0;
    width: 200px;
  }

  .button-audio-game.button-answer-audio-game,
  .button-audio-game.button-next-card-audio-game {
    margin: 5px 0 0 0;
    width: 200px;
  }

  .button-audio-game:last-child {
    margin-bottom: 10px;
  }
}
