
.settings-game-main-container {
  padding: 10px;
  max-width: 500px;
  max-height: 500px;
  background-color: #ffffff;
  border-radius: 4px;
}

.main-title {
  font-size: 24px;
  border-bottom: solid 1px #232323;
  margin-bottom: 20px;
}

.support-title {
  font-size: 20px;
}

.button-cancel {
  background-color: rgb(228, 218, 218);
}

.button-start {
  background-color: rgb(58, 75, 74);
}



