@import "reset";
@import "variables";
@import "general";
@import "../ui/audioGame/styles/audioGamePage";

@import "../ui/sprintGame/style/cardSprintGame.scss";
@import "../ui/sprintGame/style/levelSprintGame.scss";
@import "../ui/sprintGame/style/resultList.scss";

@import "../ui/common/header/styles/header";
@import "../ui/common/footer/styles/footer";
@import "../ui/common/header/styles/menuAside";

@import "../ui/homePage/styles/homePage";
@import "../ui/homePage/styles/teamInfo";

@import "../ui/authorization/styles/authorization";

@import "../ui/textbookPage/styles/textbookPage";
@import "../ui/textbookPage/styles/pagination";
@import "../ui/textbookPage/styles/textbookCard";

@import "../ui/statistics/style/statistic.scss";

@import "../ui/common/startGames/styles/startGames.scss";

