//COLORS
$accent-color: #f1c50e;
$dark-gray-color: #292d34;
$light-gray-color: #e5e5e5;
$white-color: #ffffff;
$black-color: #000000;
$wrong-color:  #E9692C;
$right-color: #00563F;

$header-height: 42px;
$icon-fontsize: 24px;
$padding-horizontal: 20px;

$first-level: $accent-color;
$second-level:#FFBF00;
$third-level:#FF9515;
$fourth-level: #FF6A2B;
$fifth-level: rgb(219, 98, 28);
$sixth-level: rgb(226, 24, 24);
