.tabs button {
  color: #666;
  text-decoration: none;
  width: 100%;
}

.form-wrap {
  background-color: $white-color;
  position: absolute;
  width: 320px;
  height: 320px;
  top: -50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: top 0.5s ease-in-out;
}

.form-wrap .tabs {
  overflow: hidden;
}

.form-wrap .tabs h3 {
  float: left;
  width: 50%;
}

.form-wrap .tabs h3 button {
  padding: 0.5em 0;
  text-align: center;
  font-weight: 400;
  background-color: #e6e7e8;
  display: block;
  color: #666;
}

.form-wrap .tabs h3 button.active {
  background-color: #fff;
}

.form-wrap .tabs-content {
  padding: 1.5em;
}

.form-wrap .tabs-content div[id$="tab-content"] {
  display: none;
}

.form-wrap .tabs-content .active {
  display: block !important;
}

.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: .8em 0 10px .8em;
  border: 1px solid #CFCFCF;
  outline: 0;
  display: inline-block;
  margin: 0 0 20px 0;
  padding-right: 2em;
  width: 100%;
}

.form-wrap form .button {
  width: 100%;
  padding: .8em 0 10px .8em;
  background-color: $accent-color;
  border: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.form-wrap form .button:hover {
  opacity: 0.8;
}

.form-wrap form .checkbox {
  visibility: hidden;
  padding: 20px;
  margin: .5em 0 1.5em;
}

.form-wrap form .checkbox:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.form-wrap form label[for] {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.form-wrap form label[for]:before {
  content: '';
  position: absolute;
  border: 1px solid #CFCFCF;
  width: 17px;
  height: 17px;
  top: 0px;
  left: -14px;
}

.form-wrap form label[for]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background-color: transparent;
  top: 4px;
  left: -10px;
  border: 3px solid $accent-color;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-wrap .help-text {
  margin-top: .6em;
}

.form-wrap .help-text p {
  text-align: center;
  font-size: 14px;
}

#user_email,
#user_name,
#user_pass-sign {
  &.wrong {
    border: 1px solid $wrong-color;
  }
}

//
.user-greeting {
  cursor: pointer;
  position: relative;
  padding: 0 10px;

  &:hover {
    color: $accent-color;
  }
}

.log-out {
  position: absolute;
  left: 0;
  bottom: -20px;
  padding: 0 10px;
}

#login-tab-content {
  position: relative;
  .error {
    display: none;
    position: absolute;
    bottom: -20px;
    color: $wrong-color;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .error.visible {
    display: flex;
  }
}
.signup-form {
  position: relative;

  .user-exists-hint {
    display: none;
    color: $wrong-color;
    position: absolute;
    bottom: -15px;
    font-size: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .user-exists-hint.visible {
    display: flex;
  }
}

.sign-up-username,
.sign-up-password,
.sign-up-email {
  position: relative;
}

.sign-up-hint {
  display: none;
  position: absolute;
  top: -10px;
  color: $wrong-color;
  font-size: 10px;
}

.sign-up-password-hint {
  top: -20px;
}

.sign-up-hint.visible {
  display: block;
}
