.textbook-pagination {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

  .btn {
    width: 40px;
    border: none;
  }
}

.btn.active {
  background: #E9692C;
}

.pagination {
  display: flex;
  gap: 10px;
}
