.textbook {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.games-links-container {
  font-size: 24px;
  display: flex;
  max-width: 50px;
  width: 100%;
  gap: 10px;
  justify-content: space-between;

  i {
    font-size: 24px;
    display: block;
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }
}

.textbook-pages {
  font-size: 24px;
}

.textbook-container {
  max-width: 1200px;
  width: 100%;
}

.disable {
  pointer-events: none;
}

.textbook-header {
  min-height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px $padding-horizontal;
  gap: 20px;
  flex-wrap: wrap;
}

.textbook-pages {
  display: flex;
  max-width: 300px;
  gap: 10px;
}

.textbook-page-btn.active {
  color: $dark-gray-color;
}

[data-textbook="1"] {
  color: $first-level;
}

[data-textbook="2"] {
  color: $second-level;
}

[data-textbook="3"] {
  color: $third-level;
}

[data-textbook="4"] {
  color: $fourth-level;
}

[data-textbook="5"] {
  color: $fifth-level;
}

[data-textbook="6"] {
  color: $sixth-level
}

[data-textbook="7"] {
  color: #dc146f;
}

.textbook-page-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  i {
    font-size: $icon-fontsize;
  }

  &:hover {
    opacity: 0.8;
  }
}

.textbook-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 20px;
}


@media (max-width: 425px) {
  .textbook-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    i {
      font-size: 16px;
    }
  }
}
