.wrapper-card-sprint-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px - 68px);
  width: 100%;
  background-color: $light-gray-color;
}

.card-sprint {
  width: 450px;
  height: 450px;
  background-color: $white-color;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.header-card-sprint-game {
  display: flex;
  justify-content: space-between;
}

.item-header-card-sprint-game {
  font-size: 22px;
  min-width: 140px;
  text-align: center;
}


.content-card-spring-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-content-card-sprint-game {
  width: 100%;
  height: 50px;
  font-size: 44px;
  margin-bottom: 20px;
  text-align: center;
}

.item-content-card-sprint-game:nth-child(1) {
  font-size: 54px;
  font-weight: bold;
}

.image-content-card-sprint-game {
  display: flex;
  justify-content: space-between;
}

.footer-card-spring-game {
  display: flex;
  justify-content: space-between;
}

.item-footer-card-sprint-game {
  width: 150px;
  height: 42px;
  background-color: $accent-color;
  font-size: 22px;
  &:hover {
    background-color: $wrong-color;
    color: $white-color;
  }
}

.item-footer-card-sprint-game:nth-child(2) {
  &:hover {
    background-color: $right-color;
    color: $white-color;
  }
}


