.wrapper-choose-level-sprint-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(68, 71, 71);
  box-shadow: inset 0 0 0 2000px rgba(41, 45, 52, 0.8);
  background-image: url("../assets/images/sprintGame/sprint.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.disabled-wrapper {
  pointer-events: none;
  opacity: 0.4;
}
