.wrapper-result-sprint-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px - 68px);
  width: 100%;
  flex-direction: column;
  background-image: url("../assets/images/sprintGame/finish.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-table {
  display: flex;
  background-color: #51cbcb;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  overflow: auto;
  max-height: 600px;
  vertical-align: middle;
}

.wrapper-row {
  display: flex;
}

.text-result {
  font-size: 36px;
  margin: 20px 0;
}

.wrapper-row:nth-child(2n) {
  background-color: aqua;
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-top: 3px solid white;
}

.wrapper-row:nth-child(2n+1) {
  background-color: #51cbcb;
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-top: 3px solid white;
}

.wrapper-row:last-child {
  border-bottom: 3px solid white;
}

.column-voice,
.column-english,
.column-transcription,
.column-russian,
.column-answer
 {
   display: flex;
   margin: 10px;
   width: 150px;
   height: 40px;
   align-items: center;
   justify-content: space-around;
}

.column-voice,
.column-answer {
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.column-voice {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.wrapper-header-table {
  display: flex;
  justify-content: space-between;
}

.score-for-result,
.best-continuous-series {
  font-size: 24px;
}

